<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<%@page contentType="text/html" pageEncoding="UTF-8"%>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            .phrase {
                color: white;
            }

            .footer {
                background-color: royalblue;
                color: white;
                text-align: center;
                height: 60px;
                bottom: 0;
                position: absolute;
                width: 100%;
            }

            .footer p a {
                color: white;
                text-decoration: none;
            }
        </style>
    </head>
    <body>
        <div class="footer">
             <p><a href="#">A propos de nous</a> | <a href="#">Accesibilité</a> | <a href="#">Confidentialité</a> | <a href="#">Sécurité</a> | <a href="#">Feed-back</a> | <a href="#">FAQ</a> | <a href="#">Support technique</a> <br>
                    <a href="#">Tous droits réservés @ 2022 MaBanque S.A</a>
             </p>
</div>
    </body>
</html>
